#Mac OSX
Thumbs.db
.DS_Store

#NetBeans
*.class
.settings/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Files that might appear on external disk
.Spotlight-V100
.Trashes
